.hero-cont{
    width: 100%;
    margin-top: 81px;
    height: calc(100vh - 75px);
    background-color: transparent;
}

.hero-cont2{
    width: 100%;
    margin-top: 41px;
    height: calc(100vh - 75px);
    background-color: transparent;
}

.div_p{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.p1{
    font-size: 27px;
    font-family: math;
    color: darkred;
    margin-bottom: 20px;
}

.p2{
    font-size: 18px;
    font-family: math;
}

.images-hero{
    width: 100%;
    height: 75%;
    display: flex;
    /* justify-content: center; */
}

.image-hero1{
    width: 35%;
    height: auto;
    display: flex;
    justify-content: center;
}

.img-hero{
    width: 90%;
    height: 100%;
}


@media (width < 600px){
    .hero-cont {
        margin-top: 0;
        height: auto;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .div_p {
        width: 85%;
        height: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* margin: 15px 0; */
    }

    .p1 {
        font-size: 23px;
        text-align: center;
    }
    .p2 {
        font-size: 16px;
        text-align: center;
        padding: 0;
        margin: 0 0 10px 0;
    }

    .images-hero {
        width: 100%;
        height: 75%;
        display: flex;
        gap: 30px;
        flex-direction: column;
        align-items: center;
    }

    .image-hero1 {
        width: auto;
    }
}

@media (width > 600px) and (width <= 768px){
    .hero-cont {
        width: 100%;
        margin-top: 81px;
        /* height: calc(100vh - 75px); */
        margin-bottom: 100px !important;
        background-color: transparent;
    }
    .images-hero {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 40px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .image-hero1 {
        width: 45% !important;
        height: auto;
        display: flex;
        justify-content: center;
    }
}