.bread-cont{
    height: 30px;
    font-family: monospace;
    background-color: transparent;
    padding-left: 40px;
    font-size: 13px;
    line-height: 32px;
}


/* ****** MEDIA QUERIES ***************  */

@media (width < 600px){
    .bread-cont{
        padding-left: 20px;
    }

}