.new-container {
    /* top: 81px; */
    position: relative;
    height: calc(100vh - 84px);
    display: flex;
}

.women-cont{
    width: 100%;
    top: 81px;
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
}


@media (width < 600px){
    .new-container {
        height: calc(100vh - 84px);
        display: flex;
        flex-direction: column;
    }

    .open-filters {
        width: 85%;
        height: 30px;
        border-radius: 20px;
        border: 1px green solid;
        padding: 0 10px;
        display: flex;
        align-items: center;
        box-shadow: 3px 2px #80808099;
        cursor: pointer;
        justify-content: center;
        margin-bottom: 5px;
        margin-left: 15px;
    }
    
    .prods-cont {
        height: calc(100% - 105px);
        margin: 0;
        gap: 10px;
        margin-bottom: 130px;
    }

    .filters {
        height: 40px;
        width: 100%;
        /* display: flex;
        justify-content: center; */
    }

    /* .logo-img {
        width: 190px;
        height: 50px;
    } */

    .favorite-empty {
        text-align: center;
    }
}
